<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Launch other relevant files-->
  <include file="$(find my_robot)/launch/world.launch"/>
  <include file="$(find my_robot)/launch/rtabmap.launch"/>

  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/>
  

</launch>
